<configuration scan="true" scanPeriod="1 seconds">
  <conversionRule conversionWord="traceId" converterClass="com.dream11.orchestrator.logging.TraceIdConverter"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %date %highlight(%+5level) %traceId %-26thread %logger{36} [%file:%line] %green(%msg) %n
      </pattern>
    </encoder>
  </appender>

  <root level="${ODIN_LOG_LEVEL:-info}">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
